@model StudentRegistration.ViewModel.Students.ChangePassword

@{
    ViewData["Title"] = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
    <style>
        .container {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #ffffff;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .container h2 {
            margin-bottom: 20px;
        }

        .form-group {
            margin-bottom: 15px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #dddddd;
            border-radius: 5px;
        }

        .form-group button {
            padding: 10px 20px;
            background-color: #4caf50;
            color: #ffffff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .form-group button:hover {
            background-color: #45a049;
        }
        .validation-message {
            color: red;
            font-size: 12px;
            margin-top: 5px;
            /* Các thuộc tính CSS khác tùy chỉnh theo ý muốn của bạn */
        }   
    </style>
}

<div class="container">
        <h2>Change Password</h2>
        <form asp-action="ChangePassword" method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" id="currentPassword" name="Password">
                <span asp-validation-for="Password" class="text-danger validation-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword"></label>
                <input asp-for="NewPassword" id="newPassword" name="NewPassword">
                <span asp-validation-for="NewPassword" class="text-danger validation-message"></span>
            </div>
            <div class="form-group">
                <label asp-for="ComfirmPassword"></label>
                <input asp-for="ComfirmPassword" id="confirmPassword" name="ComfirmPassword">
                <span asp-validation-for="ComfirmPassword" class="text-danger validation-message"></span>
            </div>
            <div class="form-group">
                <button type="submit">Change Password</button>
            </div>
        </form>
    </div>